@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  color-scheme: dark;
}

body {
  background-color: #020617;
}
